DATABASE_URL="postgresql://postgres:YOUR_PASSWORD@localhost:5432/catalog_flow"
APP_URL=http://localhost:3000
AUTH_GOOGLE_ID=your_client_id
AUTH_GOOGLE_SECRET=your_client_secret
AUTH_SECRET=your-real-generated-secret

BLOB_STORE_ID=""
BLOB_READ_WRITE_TOKEN=""

# PostHog Configuration
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=your_posthog_project_token
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com